[report]
omit =
    */python?.?/*
    */site-packages/nose/*
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    if 0:
    if __name__ == .__main__.:
#    raise AssertionError
#    raise NotImplementedError    
