language: python

python:
  - "3.4"

install:
  - python setup.py sdist install

before_script:
  - pip install coveralls

script:
  # Notes on nose:
  # Travis CI pre-installs `nose`
  # https://github.com/coagulant/coveralls-python#nosetests
  # http://nose.readthedocs.org/en/latest/plugins/skip.html
  - nosetests --no-skip --with-coverage --cover-package=cltk

after_success:
  # Notes on Coveralls
  # https://github.com/coagulant/coveralls-python#usage-travis-ci
  - coveralls
