sudo: required

language: python

python:
  - "3.5"

install:
  - python setup.py sdist install

before_script:
  - pip install --upgrade pip
  - pip install codecov
  - pip install coveralls
  - pip install pandas  # for the Indian syllabifier

script:
  # Notes on nose:
  # Travis CI pre-installs `nose`
  # https://github.com/coagulant/coveralls-python#nosetests
  # http://nose.readthedocs.org/en/latest/plugins/skip.html
  # - nosetests --no-skip --with-coverage --cover-package=cltk
  - python cltk/tests/test_corpus.py

after_success:
  - codecov
  # Notes on Coveralls
  # https://github.com/coagulant/coveralls-python#usage-travis-ci
  - coveralls
