language: python

python:
#  - "3.7.5"
  - "3.8.5"

#env:
#  - TEST_SUITE=testOnlyDocTests
#  - TEST_SUITE=test

cache:
  directories:
    - $HOME/stanza_resources/
    - $HOME/cltk_data/
    - $HOME/virtualenv/
    - $HOME/.cache/pip

addons:
  apt:
    packages:
      - graphviz

before_install:
  - echo $FAKE_SECRET_ENV_VAR
  - pip install setuptools requests

  - pip install --upgrade pip
  - pip install poetry
  - pip install python-crfsuite  # required for ``cltk.tag.pos.POSTag``, which calls NLTK

install:
  - make install
  - poetry run python scripts/download_all_models.py

before_script:
  - make preCommitUpdate
  - make preCommitRun

script:
  - make test
  - make uml
  - make docs

after_failure:
  - echo Add later

# https://docs.travis-ci.com/user/deployment-v2/providers/pypi/
deploy:
  provider: pypi
  username: kyle_johnson
  password: $PYPI_PASSWORD
  edge: true  # opt in to dpl v2

# if deploy success
after_success:
  - python scripts/trigger_github_release.py $GH_PERSONAL_ACCESS_TOKEN
