language: python

os: linux

dist: bionic

python:
  - "3.8.6"

#env:
#  - TEST_SUITE=testOnlyDocTests
#  - TEST_SUITE=test

#cache:
#  directories:
#    - $HOME/stanza_resources/
#    - $HOME/cltk_data/
#    - $HOME/virtualenv/
#    - $HOME/.cache/pip

addons:
  apt:
    packages:
      - graphviz

before_install:
  - echo $FAKE_SECRET_ENV_VAR
  - pip install setuptools requests
  - pip install --upgrade pip
  # poetry's dependency complains on the cltk/cltk branch that rust is not installed
  - sudo apt install -y curl
  - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
  - pip install poetry
#  - pip install python-crfsuite  # required for ``cltk.tag.pos.POSTag``, which calls NLTK

install:
  - make install
#  - make downloadAllModels

#before_script:
#  - make preCommitUpdate
#  - make preCommitRun

script:
  - poetry run python scripts/download_all_models.py --languages=lat
  - make testNoInternet
  - make testLatNLP
#  - make test
#  - make uml
#  - make docs

after_failure:
  - echo Add later

# https://docs.travis-ci.com/user/deployment-v2/providers/pypi/
# example for branches: https://github.com/travis-ci/travis-ci/issues/8289#issuecomment-324722657
deploy:
  provider: pypi
  on:
    branches:
        - master
        - dev
  username: kyle_johnson
  password: $PYPI_PASSWORD
  edge: true  # opt in to dpl v2

# if deploy success
after_success:
  - python scripts/trigger_github_release.py $GH_PERSONAL_ACCESS_TOKEN
