appnope==0.1.0
boto==2.44.0
bz2file==0.98
cltk==0.1.46
cycler==0.10.0
decorator==4.0.10
entrypoints==0.2.2
fuzzywuzzy==0.14.0
gensim==0.13.3 # for word2vec.py
gitdb==0.6.4
gitdb2==2.0.0
GitPython==2.1.1
greek-accentuation==1.0.5 # for the phonetic transcriber
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
joblib==0.10.3
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
MarkupSafe==0.23
matplotlib==1.5.3
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.2.0
nltk==3.2.1
notebook==4.3.0
numpy==1.11.2
pandas==0.19.1 # for the Indian syllabifier
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
ptyprocess==0.5.1
Pygments==2.1.3
pyparsing==2.1.10
python-dateutil==2.6.0
python-Levenshtein==0.12.0
pytz==2016.10
pyuca==1.1.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
regex==2016.11.21
requests==2.12.3
scikit-learn==0.18.1
scipy==0.18.1
simplegeneric==0.8.1
six==1.10.0
smart-open==1.3.5
smmap==0.9.0
smmap2==2.0.1
terminado==0.6
tornado==4.4.2
traitlets==4.3.1
wcwidth==0.1.7
Whoosh==2.7.4
widgetsnbextension==1.2.6
