alabaster==0.7.12
Babel==2.6.0
boto==2.49.0
boto3==1.9.112
botocore==1.12.112
bz2file==0.98
certifi==2019.3.9
chardet==3.0.4
codecov==2.0.15
coverage==4.5.3
coveralls==1.6.0
docopt==0.6.2
docutils==0.14
fuzzywuzzy==0.17.0
gensim==3.7.1
gitdb2==2.0.5
GitPython==2.1.11
greek-accentuation==1.2.0
idna==2.8
imagesize==1.1.0
Jinja2>=2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
nltk==3.4.5
numpy==1.16.2
packaging==19.0
Pygments==2.3.1
pyparsing==2.3.1
python-crfsuite==0.9.6
python-dateutil==2.8.0
python-Levenshtein==0.12.0
pytz==2018.9
pyuca==1.2
PyYAML==5.1b5
regex==2019.3.9
requests==2.21.0
s3transfer==0.2.0
scikit-learn==0.20.3
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
smart-open==1.8.0
smmap2==2.0.5
snowballstemmer==1.2.1
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
urllib3>=1.24.2
Whoosh==2.7.4
