mkdocs>=1.6
mkdocs-material>=9.6
mkdocstrings[python]>=0.27
mkdocs-gen-files>=0.5
mkdocs-literate-nav>=0.6
mkdocs-section-index>=0.3
mkdocs-autorefs>=1.4
mkdocs-git-revision-date-localized-plugin>=1.4
griffe>=1.14
black>=25.9
pymdown-extensions>=10.8
